<footer>
 <hr>
 <figure>
 <img src="img/CSUMB_logo.png" alt="CSUMB logo" />
 </figure>
 Burgess, Matt. “What Is the Internet of Things? WIRED Explains.” WIRED UK, WIRED UK, 16 Feb. 2018, 
 <a href="https://www.wired.co.uk/article/internet-of-things-what-is-explained-iot">www.wired.co.uk/article/internet-of-things-what-is-explained-iot</a>. 
</footer>