
<header>
    <h1> The Internet of things</h1>
</header>
<hr />
<nav>
    <a href="/">Home</a>
    <a href="/data">Data</a>
    <a href="/examples">Examles</a>
    <a href="/pro-con">Pro-con</a>
</nav>