<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>
        <br /><br />
        
        <main>
            <figure>
                <img  width="500" height="300" 
                src="https://london.ac.uk/sites/default/files/styles/promo_large/public/2018-03/data-science.jpg?itok=VqHPWenb" 
                alt="Picture of Data" />
            </figure>
            <div>
                <h3>
                    The way IOT uses data is what makes it so powerful. The internet of 
                    things uses data in four ways to help increase user experience. 
                </h3>
                <br />
                <ol>
                    <li>
                        Collecting - The first step is Data collection all IOT devices 
                        have a way to collect data from the users
                    </li>
                    <li>
                        Communicating - One of the main uses of IOT is the way different 
                        devices share data to try and keep a continuous user experience

                    </li>
                    <li>
                        Analyzing - Once data is received from devices that data is 
                        analyzed with the intent of finding ways to streamline products
                    </li>
                    <li>
                        Using - Finally applying the collected data to increase 
                        productivity and efficiency of devices
                    </li>
                </ol>
            </div>
        </main>
    <%- include('partials/footer.ejs') %>
    </body>
</html>