<!DOCTYPE html>
<html>
      <%- include('partials/head.ejs') %>
      <body>
        <%- include('partials/header.ejs') %>
        <br /><br />
        
        <main>
            
            <div>
                <br />
                <p>
                   Smartwatch - EM-Sense is a technique that uses the body’s natural 
                   electrical conductivity to detect if a person is touching an 
                   electrical or electromechanical device. Doing so allows it to 
                   automatically identify the object. The smartwatch therefore could 
                   automatically start a timer when the user begins using an electric 
                   toothbrush, unlock keyboard without password on laptop, or play the 
                   latest news when breakfast is being prepared.
                </p>
                <p>
                   A bizarre example of the Internet of Things is that sensors are implanted 
                   in the ears of cows so they are connected and monitored. This helps 
                   farmers to keep track of the cows’ health and movements to make sure 
                   that the cows are healthy and produce a substantial amount of milk. 
                </p>

                <p>
                    Garage Doors - Products such as Gogogate2 allow consumers to turn 
                    their garage doors into an IoT device. This allows users to open, 
                    close, and monitor the status of their garage door from anywhere 
                    in the world.

                </p>
                <br /> <br />
            </div>
            <figure>
                <img width="500" height="300" 
                src="https://cdn2.iconfinder.com/data/icons/internet-of-things-glyph-1/64/03-Smartwatch-512.png" 
                alt="Picture of watch" />
            </figure>
        </main>
            <%- include('partials/footer.ejs') %>
    </body>
</html>