 <!DOCTYPE html>
<html>
      <%- include('partials/head.ejs') %>
      <body>
        <%- include('partials/header.ejs') %>
        <br /><br />
       <main>
           <div>
               <br /><br />
               <br /><br />
                <p>
                    <b>The Internet of Things</b> (IoT) is a network of objects 
                    embedded with sensors and actuators that are linked with 
                    network connectivity, which enables these objects to 
                    collect, analyze, and communicate data.
                </p>
            </div>
            <figure>
                <img alt="Image for post" 
                src="<%= image %>">
            </figure>
            
        </main>
    <%- include('partials/footer.ejs') %>
    </body>
</html>